* {
  padding: 0;
  margin: 0;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,
    sans-serif;
}

body {
  background-color: #000;
}

.main {
  background-image: url(assets/images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 70vh;
  position: relative;
}

.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  background-color: #000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 60vw;
  margin: auto;
  height: 60px;
}

nav img {
  color: red;
  width: 120px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,
    sans-serif;
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 20px;
  padding: 0 30px;
}

.hero > :nth-child(1) {
  font-weight: 900;
  font-size: 39px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.hero > :nth-child(3) {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.btn {
  padding: 3px 8px;
  font-weight: 400;
  border-radius: 4px;
  color: #fff;
  background-color: rgba(248, 243, 243, 0.021);
  border: 1px solid white;
  cursor: pointer;
}

.btn-red {
  background-color: red;
  color: #fff;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 400;
}

.btn-red-sm {
  background-color: red;
  color: #fff;
}

.get-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.main input {
  padding: 7px 101px 8px 14px;
  /* font-weight: 700; */
  font-size: 12px;
  border-radius: 4px;
  color: #fff;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: auto;
  color: white;
}

.sepration {
  height: 7px;
  background-color: rgb(61, 61, 61);
}

.sec-img {
  position: relative;
}

.sec-img img {
  width: 30vw;
  position: relative;
  z-index: 10;
  /* top: 10px; */
  /* bottom: 10px; */
}

.sec-img video {
  width: 21.7vw;
  top: 58px;
  right: 52px;
  position: absolute;
}

section.first > div {
  display: flex;
  flex-direction: column;
}

.first > div :nth-child(1) {
  font-weight: bolder;
  font-size: 39px;
}

.first > div :nth-child(2) {
  font-size: 24px;
}

.third video {
  width: 18.3vw;
  top: 24px;
  right: 74px;
  position: absolute;
}

.faq h2 {
  text-align: center;
  font-size: 39px;
}

.faq {
  background-color: #000;
  color: #fff;
  padding: 35px;
}

.quebox {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  background-color: #2d2d2d;
  padding: 15px;
  max-width: 60vw;
  margin: 16px auto;
  cursor: pointer;
  transition: all 1s ease-out;
}

.quebox:hover {
  background-color: rgb(41, 41, 41);
}

.quebox svg {
  filter: invert(1);
}

.place input {
  padding: 7px 101px 8px 14px;
  /* font-weight: 700; */
  font-size: 12px;
  border-radius: 4px;
  color: #fff;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
}

.place {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 20px;
  padding: 0 30px;
}

.place > :nth-child(1) {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

footer {
  color: #fff;
  max-width: 60vw;
  margin: auto;
}

.questions{
  padding: 34px 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: #fff;
}

.footer a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
